.main {
  padding: 50px 60px;
  flex: 1;

  @media screen and (max-width: 830px) {
    padding: 24px 26px;
  }
}

.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 24px;

  @media screen and (max-width: 1170px) {
    justify-content: center;
  }

  .title {
    font-weight: 600;
    font-size: 33px;
    line-height: 49px;
    color: #101843 !important;
    text-align: center;
    margin: 0 !important;
    text-transform: uppercase;
    margin-right: 20px !important;

    @media screen and (max-width: 768px) {
      margin-right: 0 !important;
      text-align: center;
    }

    @media screen and (max-width: 680px) {
      margin-right: 10px !important;
    }
  }

  .buttonsWrapper {
    display: flex;
    justify-content: center;
    box-shadow: 0px 4px 15px 5px rgba(0, 0, 0, 0.1);

    @media screen and (max-width: 700px) {
      align-items: center;
    }

    button {
      background: linear-gradient(0deg, #edeef2, #edeef2);
      text-transform: uppercase;
      min-width: 100px;
      border: none;
      color: #101843;
      transition: all 0.5s ease;

      &:hover {
        background: #ffffff;
        color: #1c3ccd;
      }
    }

    .activeBtn {
      background: #ffffff;
      color: #1c3ccd;

      &:hover {
        background: #ffffff;
        color: #1c3ccd;
      }
    }
  }

  .period {
    list-style: none;
    display: flex;
    padding-left: 0;
    margin-bottom: 0;
    background: linear-gradient(0deg, #edeef2, #edeef2);
    box-shadow: 0px 4px 15px 5px rgba(0, 0, 0, 0.1);

    li {
      font-size: 19px;
      line-height: 28px;
      color: #101843;
      padding: 11px 27px;
      transition: all 0.5s ease;
      cursor: pointer;

      &:hover {
        background: #ffffff;
        color: #1c3ccd;
      }
    }

    li.active {
      background: #ffffff;
      color: #1c3ccd;
    }
  }
}
