.aside {
  @media screen and (max-width: 700px) {
    display: block;
    min-width: 100% !important;
    max-width: 100% !important;
    width: 100% !important;
    flex-basis: 0 !important;
  }
}

.title {
  background: #172060;
  font-weight: 500;
  font-size: 19.5px;
  line-height: 29px;
  color: #ffffff !important;
  text-align: center;
  margin: 0 !important;
}

.siderMenu {
  padding: 50px 0;
  background: #172060 !important;
  list-style: none;
  min-height: 100%;

  @media screen and (max-width: 700px) {
    display: flex;
    margin-bottom: 0;
    padding: 15px 0;
    justify-content: center;
  }

  li {
    display: flex;
    justify-content: space-between;
    font-weight: 500;
    font-size: 18.5px;
    line-height: 28px;
    color: #ffffff;
    padding: 20px 50px;
    align-items: flex-end;
    transition: all 0.5s ease;
    cursor: pointer;
    text-transform: uppercase;

    @media screen and (max-width: 700px) {
      font-size: 11px;
      padding: 10px 6px;
      min-width: 70px;
      justify-content: center;
    }

    &:hover {
      background: #ffffff;
      color: #141d53;
    }
  }

  .active {
    background: #ffffff;
    color: #141d53;
  }
}
